.img-profile
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
    height: 30px;
    width: 30px;
}
#map{
    position:relative;
    width:100%;
    height: calc(100% - 152px);
    margin-top: 70px;
}
#mapInfo {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4px;
    z-index: 100;
}
.navbar.navbar-transparent .dropdown-menu .active > a {
    background-color: #337ab7;
    color: #FFFFFF;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(51, 122, 183, 0.4);
}
.navbar.navbar-transparent .dropdown-menu .active > a:hover {
    color: #FFFFFF;
}
.navbar .navbar-nav > li > a.togglebutton label {
    color: inherit;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}
.nav.nav-mobile-menu > li > a.togglebutton label {
    color: rgba(255,255,255,0.9);
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    white-space: nowrap;
}
